.btn-one {
  background-color: var(--nav-colour);
}

.btn-two {
  background-color: var(--box-colour);
}

.btn-three {
  background-color: var(--boks-colour);
}

.btn {
  width: 300px;
  height: 200px;
  margin-bottom: 1em;
  margin: 0px auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
