.card-one {
  background-color: var(--nav-colour);
}

.card-two {
  background-color: var(--box-colour);
  border: 3px solid var(--boks-colour);
}

.card-three {
  background-color: var(--boks-colour);
}

.card {
  width: 264px;
  height: 263px;
  margin: 10px auto;
  border-radius: 15px;
}

.container {
  text-align: center;
  font-size: 34px;
}

h1 {
  padding: 20px;
}
