body {
  background-color: var(--background-colour);
}

footer {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  background-color: var(--nav-colour);
  padding: 10px;
  font-size: 12px;
}
